body{
  text-align: center;
  background-color: rgb(228, 215, 37);
}

.container {
  background-color: rgb(215, 228, 37);

}


.sidebar {
  position: absolute; 
  left: 190px;
  top: 8px;
  width: 130px;
  height: 600px;
  background: rgb(243, 243, 247);
  color: rgb(0, 128, 6);
  border: 1px dotted rgb(196, 187, 187)
}

.sidebar .active {
  font-weight: bold;
  
}

.links {
  margin-right: 20px;
  margin: auto;
}

 h1{
color: green;

 } 


 
 h3{
  color: green;
  
   } 

   h6{
    color:tomato;
    
     } 

 span.name {
  padding: 10px;
  color: green;
  margin: 10px;
  border-color: rgb(0, 247, 255);
  border-width: 1px;
  border-style: solid;
 }

 span.city {
  padding: 10px;
  color: rgb(137, 221, 26);
  margin: 10px;
 }

 span.email {
  padding: 20px;
  color: green;
  margin: 10px;

 }
 span.card-title {
  color: rgb(137, 221, 26);
 } 
 
 
 .fa {
  color: red;
  padding: 20px;
  margin: 10px;
}
